@import "./variables";

body {
	padding: 4rem 0;
}

img {
	max-width: 100%;
}

/*
*   _   _ _____    _    ____  _____ ____
*  | | | | ____|  / \  |  _ \| ____|  _ \
*  | |_| |  _|   / _ \ | | | |  _| | |_) |
*  |  _  | |___ / ___ \| |_| | |___|  _ <
*  |_| |_|_____/_/   \_\____/|_____|_| \_\
*
*
*/
@import "./header";

#grow,
#conversation,
#users {
	@include flex(stretch, center, row wrap);

	div {
		width: 50%;
	}
}

#grow,
#users {
	div {
		background-color: #f6fbff;
		img {
			max-height: 100%;
		}
	}
}

.users__info,
.grow__info,
.conversation__info {
	@include flex(stretch, center, column nowrap);
}

/*
*   _____ ___   ___ _____ _____ ____
*  |  ___/ _ \ / _ \_   _| ____|  _ \
*  | |_ | | | | | | || | |  _| | |_) |
*  |  _|| |_| | |_| || | | |___|  _ <
*  |_|   \___/ \___/ |_| |_____|_| \_\
*
*
*/
@import "./footer";
