* {
  line-height: 1.4 !important;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: #ff85d2;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h2 {
  margin: 1.5rem 0;
  font-size: 2em;
  font-weight: bold;
}

.header,
#community {
  max-width: 85rem;
  padding: 4rem 2rem;
  margin: auto;
}

.wave {
  width: 100%;
  height: 5rem;
}

.wave:first-child {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.wave:last-child {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

#grow,
#conversation,
#users,
.footer {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#grow img,
#conversation img,
#users img,
.footer img {
  max-height: 100%;
}

#grow,
#conversation,
#users {
  padding: 3rem 0;
  margin: 3rem 0;
}

#grow div,
#conversation div,
#users div {
  min-width: 100vw;
  width: 50%;
}

@media (min-width: 768px) {
  #grow div,
  #conversation div,
  #users div {
    min-width: 375px;
  }
}

#grow div img,
#conversation div img,
#users div img {
  display: block;
  margin: auto;
  width: inherit;
}

#grow div div,
#conversation div div,
#users div div {
  margin: auto;
  width: 70%;
  padding-left: 2rem;
}

#grow div,
#users div {
  background-color: #f6fbff;
}

.users__info,
.grow__info,
.conversation__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 768px) {
  .users__info,
  .grow__info,
  .conversation__info {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.users__illustration,
.grow__illustration,
.conversation__illustration {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  .users__illustration,
  .grow__illustration,
  .conversation__illustration {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.link--cta {
  margin: 2rem auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4em;
  padding: 1rem 4rem;
  color: #fff;
  background-color: #ff52bf;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 10px #aaa;
          box-shadow: 2px 2px 10px #aaa;
}

/*
*   _   _ _____    _    ____  _____ ____
*  | | | | ____|  / \  |  _ \| ____|  _ \
*  | |_| |  _|   / _ \ | | | |  _| | |_) |
*  |  _  | |___ / ___ \| |_| | |___|  _ <
*  |_| |_|_____/_/   \_\____/|_____|_| \_\
*
*
*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 0.7rem;
}

@media (min-width: 992px) {
  .header {
    font-size: 1rem;
  }
}

.header__logo {
  width: 12em;
}

.header__tryit {
  color: #ff52bf;
  display: inline-block;
  border: 1px solid #ff52bf;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-size: 1em;
}

.header__tryit:hover {
  background-color: #ff52bf;
  color: #fff;
}

/*
*
*   ____ ___  __  __ __  __ _   _ _   _ ___ _______   __
*  / ___/ _ \|  \/  |  \/  | | | | \ | |_ _|_   _\ \ / /
* | |  | | | | |\/| | |\/| | | | |  \| || |  | |  \ V /
* | |__| |_| | |  | | |  | | |_| | |\  || |  | |   | |
*  \____\___/|_|  |_|_|  |_|\___/|_| \_|___| |_|   |_|
*
*
*/
#community {
  text-align: center;
  font-size: 0.6rem;
}

@media (min-width: 992px) {
  #community {
    font-size: 1rem;
  }
}

#community div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (min-width: 576px) {
  #community div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

#community div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem;
}

@media (min-width: 576px) {
  #community div p {
    margin: 0;
  }
}

#community div p img {
  width: 2em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#community div p strong {
  font-weight: bold;
  font-size: 4em;
  margin: 0.5rem 0;
}

.community__title {
  font-weight: bold;
  font-size: 2.5em;
  word-spacing: 5px;
}

.community__info {
  margin: 2rem auto;
  max-width: 440px;
  font-size: 1.1em;
}

.screen-mockups {
  margin: 2rem 0;
  width: 100%;
}

@media (min-width: 992px) {
  .screen-mockups {
    width: inherit;
  }
}

/*
*
*    ____ _____  _
*   / ___|_   _|/ \
*  | |     | | / _ \
*  | |___  | |/ ___ \
*   \____| |_/_/   \_\
*
*
*/
#cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 4rem 0;
}

/*
*   _____ ___   ___ _____ _____ ____
*  |  ___/ _ \ / _ \_   _| ____|  _ \
*  | |_ | | | | | | || | |  _| | |_) |
*  |  _|| |_| | |_| || | | |___|  _ <
*  |_|   \___/ \___/ |_| |_____|_| \_\
*
*
*/
.footer {
  font-size: 1rem;
  color: #fff;
  padding-top: 2rem;
  margin-top: 2rem;
}

.footer .wave {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer div,
.footer p {
  background-color: #0a262e;
}

.footer__contact,
.footer__newsletter {
  padding: 4rem;
  width: 50%;
  min-width: 375px;
}

.footer__contact h3,
.footer__newsletter h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.footer__contact div:first-child,
.footer__newsletter div:first-child {
  max-width: 29rem;
  margin: auto;
}

.footer__contact div:first-child p:first-of-type,
.footer__newsletter div:first-child p:first-of-type {
  width: 75%;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__contact__icon {
  margin: 1rem 0;
}

.footer__contact__icon img {
  margin-right: 1rem;
}

.social-network {
  padding: 2rem 0;
}

.social-network .icon {
  margin-right: 1rem;
}

.footer__subscribe__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
  height: 2rem;
  margin: 2rem 0;
  width: 100%;
}

.footer__subscribe__input-container input {
  height: 100%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.subscribe--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2rem;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  padding-right: 2rem;
  padding-left: 2rem;
  color: #fff;
  background-color: #ff52bf;
  border-radius: 5px;
}

.attribution {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */